/*body {
  background-color: #e5e5e5;
  width: 100%;
}

h1 {
  color: black;
  font-family: "Comfortaa";
  font-style: normal;
  font-size: 25pt;
  text-align: center;
  padding: 20px;
}
div#bod {
  width: 100%;
}*/

div#company {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgb(212, 211, 211);
  padding: 5px;
}

p {
  position: relative;
  text-align: left;
  color: rgb(8, 8, 8);
  font-size: 20pt;
  margin: 0;
}

div#geral {
  display: inline;
}

/*Formatação da tabela*/
table#tabela {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabela td {
  border: 1px solid #606060;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table#tabela td.ce {
  background-color: #606060;
  color: #ffffff;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
}

table#tabela td.cd {
  text-align: left;
  background-color: #cecece;
}

table#tabela caption {
  color: #888888;
  font-size: 13pt;
  font-weight: bold;
}
